
<div class="intervals__item">
    <div class="intervals__head">
        <div class="intervals__color {{color}}"></div>
        <p class="intervals__title">{{title}}</p>
        <div id={{id}} class="intervals__scale voter">
            <span class="voter__minus">—</span>
            <span id={{voterId}} class="voter__vote intervals__number">{{value}}</span>
            <span class="voter__plus">+</span>
        </div>
    </div>
    <div class="intervals__description">{{description}}
        <span class="strong-white">{{measure}}</span>
    </div>
</div>